<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/header.html :: headMeta (title = 'Список студентов')"></head>
<body>
<header th:replace="fragments/header.html :: header"></header>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Имя студента</th>
                    <th>Курс</th>
                    <th>Группа</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.id}">Id</td>
                    <td>
                        <a th:href="@{|/student/${student.id}|}" th:text="${student.name}"></a>
                    </td>
                    <td th:text="${student.course}">Курс</td>
                    <td th:text="${student.group != null} ? ${student.group.name} : '-'">Группа</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div sec:authorize="hasRole('ADMIN')" class="row">
        <div>
            <a class="btn btn-primary" th:href="@{/student/create}" role="button">Новый студент</a>
        </div>
    </div>
</div>


</body>
</html>