<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header.html :: headMeta (title = 'Главная страница')"></head>
<body>
<header th:replace="fragments/header.html :: header"></header>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <h4>Education management system - система управления образованием</h4>
            <p>
                <b>Удобство</b> - учет образовательного процесса в одном месте
            </p>
            <p>
                <b>Практичность</b> - наглядная статистика успеваемости студентов
            </p>
            <p>
                <b>Администрирование</b> - планируйте учебный план под себя
            </p>
        </div>
        <div class="col-md-8">
            <img th:src="@{/img/img.png}" alt="image">
        </div>
    </div>
</div>
</body>
</html>