<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/header.html :: headMeta (title = 'Карточка группы')"></head>
<body>
<header th:replace="fragments/header.html :: header"></header>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm col-lg-8">

            <form th:action="@{/group/{id}(id=${group.id})}" th:method="post" th:object="${group}">
                <div class="col-sm-6">
                    <label for="name" class="form-label">Название группы</label>
                    <input readonly="readonly" disabled class="form-control" id="name" type="text" th:field="*{name}">
                </div>

                <div class="col-sm-6 mt-3">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Студент</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="student : ${group.students}">
                            <td th:text="${student.id}">Id</td>
                            <td>
                                <a th:href="@{|/student/${student.id}|}" th:text="${student.name}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>