<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:fragment="headMeta(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="'Dashboard | ' + ${title}"></title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Система управления образованием</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
                aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/student}">Студенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/group}">Группы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lesson}">Занятия</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('STUDENT')">
                    <a class="nav-link" th:href="@{/personal/lessons}">Мои занятия</a>
                </li>

            </ul>

            <div sec:authorize="!isAuthenticated()">
                <span class="navbar-text mr-3">
                    <a class="btn btn-primary" th:href="@{/login}" role="button">Login</a>
                </span>
            </div>

            <div sec:authorize="isAuthenticated()">
                <span class="navbar-text mr-3">
                    Пользователь: <span sec:authentication="name"></span>
                </span>
                <span class="navbar-text mr-3">
                    <a class="btn btn-primary" th:href="@{/logout}" role="button">Logout</a>
                </span>
            </div>
        </div>
    </div>
</nav>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
     th:fragment="breadcrumb (currentPage)">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${currentPage}"></li>
        </ol>
    </nav>
</div>

</body>
</html>