<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/header.html :: headMeta (title = 'Список студентов')"></head>
<body>
<header th:replace="fragments/header.html :: header"></header>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Имя студента</th>
                    <th>Курс</th>
                    <th>Группа</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.id}">Id</td>
                    <td>
                        <a th:href="@{|/student/${student.id}|}" th:text="${student.name}"></a>
                    </td>
                    <td th:text="${student.course}">Курс</td>
                    <td th:text="${student.group != null} ? ${student.group.name} : '-'">Группа</td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation" th:if="${students.totalPages - 1 gt 0}">
                <ul class="pagination justify-content-end">
                    <li class="page-item" th:classappend="${students.number eq 0} ? 'disabled'">
                        <a class="page-link" tabindex="-1" aria-disabled="true" th:href="
                        @{/student
                        (page=${students.number lt 2 ? 1 : students.number}, size=${pageSize}, sortBy=${sortBy}, order=${order})}">Previous</a>
                    </li>

                    <li class="page-item" th:classappend="${students.number + 1 eq students.totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{/student
                        (page=${students.number + 2}, size=${pageSize}, sortBy=${sortBy}, order=${order})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div sec:authorize="hasRole('ADMIN')" class="row">
        <div>
            <a class="btn btn-primary" th:href="@{/student/create}" role="button">Новый студент</a>
        </div>
    </div>
</div>


</body>
</html>