<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header.html :: headMeta (title = 'Создание студента')"></head>
<body>
<header th:replace="fragments/header.html :: header"></header>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm col-lg-8">

            <form th:action="@{/student/create}" th:method="post" th:object="${student}">
                <div class="col-sm-6">
                    <label class="form-label" for="name">Имя студента</label>
                    <input class="form-control" id="name" type="text" th:field="*{name}">
                    <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"/>
                </div>

                <div class="col-sm-6">
                    <label class="form-label" for="email">Email студента</label>
                    <input class="form-control" id="email" type="email" th:field="*{email}">
                    <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"/>
                </div>

                <div class="col-sm-6">
                    <label class="form-label" for="age">Возраст студента</label>
                    <input class="form-control" id="age" type="number" th:field="*{age}">
                    <p th:if="${#fields.hasErrors('age')}" th:errorclass="error" th:errors="*{age}"/>
                </div>

                <div class="col-sm-6">
                    <label class="form-label" for="course">Курс</label>
                    <input class="form-control" id="course" type="number" th:field="*{course}">
                    <p th:if="${#fields.hasErrors('course')}" th:errorclass="error" th:errors="*{course}"/>
                </div>

                <div class="col-sm-6">
                    <label class="form-label" for="studTicket">Студенческий билет</label>
                    <input class="form-control" id="studTicket" type="number" th:field="*{studTicket}">
                    <p th:if="${#fields.hasErrors('studTicket')}" th:errorclass="error" th:errors="*{studTicket}"/>
                </div>

                <div class="col-sm-6 form-group">
                    <label class="form-label" for="group">Группа</label>
                    <select class="form-control selectpicker" th:field="${student.group}" id="group">
                        <option th:value="NULL" th:text="NULL"></option>
                        <option th:each="group : ${groups}"
                                th:value="${group.id}"
                                th:text="${group.name}">
                        </option>
                    </select>
                </div>

                <div th:if="${#fields.hasErrors('global')}">
                    <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
                </div>

                <div class="col-sm-6 mt-3">
                    <button class="btn btn-primary" type="submit">Создать</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>