<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header.html :: headMeta (title = 'Список групп')"></head>
<body>
<header th:replace="fragments/header.html :: header"></header>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Группа</th>
        <th>Студенты</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group : ${groups}">
        <td th:text="${group.id}">Id</td>
        <td>
            <a th:href="@{|/group/${group.id}|}" th:text="${group.name}"></a>
        </td>
        <td>
            <span th:each="student : ${group.students}">
                <p th:text="${student.name}">123</p>
            </span>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a class="btn btn-primary" th:href="@{/group/create}" role="button">Создать новую группу</a>
</div>

</body>
</html>