<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header.html :: headMeta (title = 'Создание занятия')"></head>
<body>
<header th:replace="fragments/header.html :: header"></header>


<form class="row col-md-7 col-lg-8" th:action="@{/lesson/create}" th:method="post" th:object="${lesson}">
<!--    <div>-->
<!--        <label for="date">Дата проведения занятия</label>-->
<!--        <input id="date" type="date" th:field="*{{date}}">-->
<!--    </div>-->

    <div class="form-group col-sm-6">
        <label for="teacher">Выберите преподавателя</label>
        <select class="form-control selectpicker" th:field="${lesson.teacher}" id="teacher">

            <option th:each="teacher : ${teachers}"
                    th:value="${teacher.id}"
                    th:text="${teacher.name}">
            </option>

        </select>
    </div>

    <div class="form-group col-sm-6">
        <label for="group">Выберите группу</label>
        <select class="form-control selectpicker" th:field="${lesson.group}" id="group">

            <option th:each="group : ${groups}"
                    th:value="${group.id}"
                    th:text="${group.name}">
            </option>

        </select>
    </div>

    <div>
        <button class="btn btn-primary" type="submit">Создать</button>
    </div>
</form>

</body>
</html>