<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header.html :: headMeta (title = 'Детальная карточка студента')"></head>
<body>
<header th:replace="fragments/header.html :: header"></header>


<form th:action="@{/student/{id}(id=${student.id})}" th:method="post" th:object="${student}">
    <div>
        <label for="name">Имя студента</label>
        <input id="name" type="text" th:field="*{name}" >
    </div>

    <div>
        <label for="course">Курс</label>
        <input id="course" type="number" th:field="*{course}" >
    </div>

    <div>
        <label for="age">Возраст студента</label>
        <input id="age" type="number" th:field="*{age}" >
    </div>

    <div class="form-group col-sm-6">
        <label for="group">Выберите группу</label>
        <select class="form-control selectpicker" id="group" th:field="${student.group}" >

            <option th:each="group : ${groups}"
                    th:value="${group.id}"
                    th:text="${group.name}">
            </option>

        </select>
    </div>

    <button class="btn btn-primary" type="submit">Обновить</button>
</form>

<form th:action="@{/student/{id}(id=${student.id})}" th:method="delete" th:object="${student}">
    <button class="btn btn-primary" type="submit">Удалить</button>
</form>

</body>
</html>