<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header.html :: headMeta (title = 'Детальная карточка студента')"></head>
<body>
<header th:replace="fragments/header.html :: header"></header>


<form th:action="@{/student/{id}(id=${student.id})}" th:method="post" th:object="${student}">
    <div>
        <label for="name">Имя студента</label>
        <input id="name" type="text" th:field="*{name}" >
    </div>
    <div>
        <label for="age">Возраст студента</label>
        <input id="age" type="number" th:field="*{age}" >
    </div>
    <div>
        <label for="group">Группа</label>
        <input id="group" type="text" th:field="*{group.name}" >
    </div>

    <button class="btn btn-primary" type="submit">Обновить</button>
</form>

<form th:action="@{/student/{id}(id=${student.id})}" th:method="delete" th:object="${student}">
    <button class="btn btn-primary" type="submit">Удалить</button>
</form>

</body>
</html>